@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--base-colour);
}

.liked {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.liked .liked-status {
  position: absolute;
  display: none;
  top: 6rem;
  border: 0.5rem;
  border-style: solid;
  border-radius: 5px;
  font-size: 50px;
  z-index: 100;
}

.size-warning-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--base-colour);
  z-index: 9999;
  padding: 4rem;
  display: none;
}
.size-warning-container.visible {
  display: block;
}
.size-warning-container p {
  font-size: 26px;
  color: var(--main-font-colour);
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--base-colour);
  z-index: 9999;
  transition: 250ms ease;
  opacity: 1;
  color: var(--main-font-colour);
}
.loading-container p {
  font-size: 26px;
  font-weight: 600;
}
.loading-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.liked-movies-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--base-colour);
  color: white;
  z-index: 9999;
  overflow: scroll;
  transition: 250ms ease;
  transform: translateY(0);
}
.liked-movies-container.hidden {
  transform: translateY(110vh);
}
.liked-movies-container .empty-message {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-font-colour);
}
.liked-movies-container .liked-movie-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 4rem;
  color: var(--main-font-colour);
  background-color: var(--base-colour);
}
.liked-movies-container .liked-movie-header .close-liked-movies {
  position: absolute;
  right: 2rem;
  top: 1rem;
  fill: white;
  width: 30px;
  height: 30px;
  z-index: 999;
  color: white;
}
.liked-movies-container .liked-movie-header .liked-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.liked-movies-container .liked-movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
.liked-movies-container .liked-movies-list .liked-movie-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
  height: auto;
}
.liked-movies-container .liked-movies-list .liked-movie-container .liked-poster {
  border-radius: 10px;
  background-size: cover;
  aspect-ratio: 2/3;
}
.liked-movies-container .liked-movies-list .liked-movie-container * {
  flex: 1;
}

.notification-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--transparent-base);
  padding-top: 4rem;
  z-index: 999;
  transition: 250ms ease;
  color: white;
  transform: translateY(100vh);
}
.notification-container h2 {
  font-size: 26px;
}
.notification-container img {
  border-radius: var(--border-radius);
  width: 60%;
  margin: 2rem 0rem;
}
.notification-container.visible {
  transform: translate(0);
}
.notification-container #dismiss-notification {
  font-size: 10px;
  padding-top: 2rem;
  color: var(--faded-font-colour);
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  color: var(--main-font-colour);
  padding: 2rem;
  overflow: visible;
  z-index: 5;
}
.header .nav-content-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .nav-content-centre h2 {
  font-size: 14px;
}
.header .nav-content-centre p {
  font-weight: 700;
  font-size: 10px;
}
.header .nav-icon,
.header .spacer {
  height: 30px;
  width: 30px;
}
.header .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}
.header .menu-container .menu-panel {
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: 200px;
  background-color: var(--base-colour);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 10px 55px -5px rgba(0, 0, 0, 0.3);
  transition: 250ms ease;
  font-size: 14px;
}
.header .menu-container .menu-panel.hidden {
  transform-origin: top right;
  transform: scale(0);
}
.header .menu-container .menu-panel ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.header .menu-container .menu-panel ul li {
  width: 100%;
  font-weight: 400;
}
.header .menu-container .menu-panel ul li#delete-session {
  color: hsl(0deg, 100%, 62%);
  font-weight: 600;
}
.header .menu-container .menu-panel ul li a {
  color: var(--main-font-colour);
  text-decoration: none;
}
.header .menu-container .menu-panel ul li a:visited {
  color: var(--main-font-colour);
}

.poster-container {
  z-index: 2;
}

.poster-container,
.next-poster-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius);
  color: var(--main-font-colour);
  font-weight: 600;
  overflow: visible;
}
.poster-container.mini,
.next-poster-container.mini {
  top: 40%;
  width: 50%;
}
.poster-container.hidden,
.next-poster-container.hidden {
  display: none;
}
.poster-container .poster,
.poster-container .next-poster,
.next-poster-container .poster,
.next-poster-container .next-poster {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}
.poster-container .poster.shrunk,
.poster-container .next-poster.shrunk,
.next-poster-container .poster.shrunk,
.next-poster-container .next-poster.shrunk {
  scale: 0.4;
  transform: scale(0.45) translate(-60%, -60%);
}
.poster-container .next-poster,
.next-poster-container .next-poster {
  box-shadow: 0px 10px 38px -19px rgba(0, 0, 0, 0.5);
}
.poster-container .movie-metadata,
.next-poster-container .movie-metadata {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
  gap: 10px;
  top: 0;
  right: 0;
  width: 50%;
  transition: 150ms ease;
  opacity: 0;
  pointer-events: none;
  font-weight: 500;
}
.poster-container .movie-metadata a,
.next-poster-container .movie-metadata a {
  text-decoration: underline;
  color: var(--main-font-colour);
}
.poster-container .movie-metadata a:visited,
.next-poster-container .movie-metadata a:visited {
  color: var(--main-font-colour);
}
.poster-container .movie-metadata.visible,
.next-poster-container .movie-metadata.visible {
  opacity: 1;
  display: flex;
  pointer-events: all;
}
.poster-container .synopsis,
.next-poster-container .synopsis {
  position: absolute;
  top: 50%;
  overflow: scroll;
  height: 40%;
  transition: 150ms ease;
  opacity: 0;
  pointer-events: none;
  font-weight: 500;
}
.poster-container .synopsis.visible,
.next-poster-container .synopsis.visible {
  opacity: 1;
  display: flex;
  pointer-events: all;
}
.poster-container .dismiss,
.next-poster-container .dismiss {
  font-weight: 400;
  position: absolute;
  height: 4rem;
  width: 100%;
  bottom: 0;
  padding-top: 3rem;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 150ms ease;
  opacity: 0;
  pointer-events: none;
}
.poster-container .dismiss.visible,
.next-poster-container .dismiss.visible {
  opacity: 1;
  display: flex;
  pointer-events: all;
  height: auto;
  width: 100%;
}

.buttons {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 0;
  padding: 0rem 3rem 1rem 3rem;
  z-index: 10;
  transition: opacity 200ms;
}
.buttons .liked-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
}
.buttons.hidden {
  opacity: 0;
  pointer-events: none;
}
.buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 1rem;
}
.buttons .btn.like {
  background-color: hsl(127deg, 40%, 94%);
}
.buttons .btn.dislike {
  background-color: hsl(47deg, 37%, 94%);
}
.buttons .btn:active,
.buttons .btn:focus {
  transform: scale(0.9);
}/*# sourceMappingURL=match.css.map */