@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  background-color: #1c1e2b;
}

.session-generator-container {
  position: relative;
  background-color: #1c1e2b;
  color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.session-generator-container #welcome {
  width: 85%;
  text-align: left;
}

.session-generator-container .form-gen-container {
  position: relative;
  height: 65%;
  width: 85%;
  background-color: #202331;
  padding: 2rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.session-generator-container .form-gen-container .input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.session-generator-container .form-gen-container .input-container label,
.session-generator-container .form-gen-container .input-container .label {
  font-weight: 500;
}

.session-generator-container .form-gen-container .input-container input,
.session-generator-container .form-gen-container .input-container .input {
  background-color: #f5f9ff;
  width: 100%;
  height: 1.6rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: #3a3a3a;
}

.session-generator-container .form-gen-container .input-container .input {
  overflow: auto;
}

.session-generator-container .form-gen-container .input-container .genre-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.session-generator-container .form-gen-container .genres-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0c3958;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transition: 50ms ease;
  transition: 50ms ease;
}

.session-generator-container .form-gen-container .genres-container.hidden {
  display: none;
}

.session-generator-container .form-gen-container .genres-container .genre-li {
  padding: 0.4rem 0rem;
}

.session-generator-container .form-gen-container .genres-container .genre-li.selected span {
  border-bottom: solid #ff336d 3px;
}

.session-generator-container .form-gen-container .selected-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.session-generator-container .form-gen-container .selected-genres li {
  background-color: red;
}

.session-generator-container .submit-session {
  background-color: #94e7f7;
  color: black;
  width: 85%;
  height: 3.5rem;
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=sessionGenerator.css.map */