@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

$width: 85%;

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
	overflow: scroll;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	background-color: #1c1e2b;
}

.session-generator-container {
	position: relative;
	background-color: #1c1e2b;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 0rem;
	transition: 250ms ease;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	#welcome {
		width: $width;
		text-align: left;
		color: white;
	}

	.form-gen-container {
		position: relative;
		width: $width;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 3rem;
		overflow-x: hidden;

		.input-page-1,
		.input-page-2 {
			display: none;
			display: flex;
			flex-direction: column;
			gap: 3rem;
			width: 100%;
			justify-content: space-between;
			transition: 250ms ease;
			opacity: 1;

			&.hidden {
				display: none;
			}
		}

		.input-container {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			width: 100%;

			label,
			.label {
				font-weight: 400;
				font-size: 16px;
				color: #f3f7ff;
			}

			input,
			.input {
				width: 100%;
				height: 2.5rem;
				border-radius: 5px;
				padding: 0.5rem;
				background-color: hsl(226, 18%, 30%);
				color: white;
				font-size: 16px;
				font-weight: 400;
			}

			.input {
				overflow: auto;
			}

			.genre-trigger {
				display: flex;
				align-items: center;
			}
		}

		.genres-container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			position: fixed;
			top: 50%;
			height: 100%;
			width: $width;
			top: 0;
			left: 0;
			width: 100%;
			background-color: hsl(230, 22%, 25%);
			padding: 1rem 2rem;
			border-radius: 5px;
			transition: 250ms ease;

			&.hidden {
				opacity: 0;
				pointer-events: none;
			}

			.genre-li {
				padding: 0.4rem 0rem;
				font-size: 22px;

				&.selected span {
					border-bottom: solid #ff336d 3px;
				}
			}
		}

		.selected-genres {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			li {
				background-color: red;
			}
		}
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $width;
		gap: 1rem;
	}
}

button {
	background-color: hsl(230, 22%, 35%);
	color: white;
	height: 3.5rem;
	font-weight: bold;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;

	&.hidden {
		display: none;
	}

	&.primary {
		background-color: hsl(205, 100%, 49%);
	}
}

@keyframes slide-out-left {
	100% {
		transform: translateX(-100%);
	}
}

@keyframes slide-out-right {
	100% {
		transform: translateX(100%);
	}
}

@keyframes slide-in-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
