@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

$animation-timing: 1000ms;
$animation-delay: 300ms;

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
	overflow: auto;
}

body {
	background-color: var(--base-colour);
	overflow-x: hidden;
}

.start-container {
	height: 100%;
	padding-top: 2rem;
	background-color: var(--base-colour);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: 250ms ease;
	opacity: 1;
	padding: 2rem;

	h1 {
		font-size: 40px;
		overflow: visible;

		.pink {
			color: #fd366c;
		}

		.purple {
			color: #8288fe;
		}
	}

	&.hidden {
		opacity: 0;
	}

	.posters {
		position: relative;
		overflow: visible;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		.poster {
			aspect-ratio: 2/3;
			border-radius: 10px;
			box-shadow: 0px 10px 64px -3px rgba(0, 0, 0, 0.1);
			width: 20%;
		}

		.front-poster {
			width: 45%;
			background-image: url("/src/assets/poster2.webp");
			background-size: cover;
			z-index: 3;
			transform: translate(200%, 0%);
			animation: main-entrance $animation-timing;
			animation-delay: $animation-delay;
			animation-fill-mode: forwards;
		}

		.left-poster {
			position: absolute;
			transform: translate(-200%, 0%) rotate(0deg);
			filter: blur(2px);
			width: 40%;
			background-image: url("/src/assets/poster1.webp");
			background-size: cover;
			z-index: 2;
			animation: left-entrance $animation-timing;
			animation-delay: $animation-delay;
			animation-fill-mode: forwards;
		}

		.right-poster {
			position: absolute;
			transform: translateX(200%) rotate(0deg);
			filter: blur(4px);
			width: 35%;
			background-image: url("/src/assets/poster3.webp");
			background-size: cover;
			z-index: 2;
			animation: right-entrance $animation-timing;
			animation-delay: $animation-delay;
			animation-fill-mode: forwards;
		}
	}

	.join-session-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		#session-name-input {
			background-color: var(--input-colour);
			border: 1px solid var(--input-border-colour);
			height: 3rem;
			width: 80vw;
			max-width: 500px;
			border-radius: 10px;
			font-size: 16px;
			font-weight: bold;
			text-align: center;

			&::placeholder {
				color: gray;
			}
		}
	}

	.buttons {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 100%;

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3rem;
			width: 70%;
			max-width: 300px;
			background-color: var(--primary-button);
			color: white;
			font-weight: 700;
			border-radius: 10px;

			&.new-session {
				text-decoration: none;
				background-color: var(--secondary-button);
				color: white;
			}
		}
	}
}

@keyframes main-entrance {
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes left-entrance {
	100% {
		transform: translateX(-60%) rotate(-10deg);
	}
}

@keyframes right-entrance {
	100% {
		transform: translateX(70%) rotate(10deg);
	}
}
